body {
  margin: 0;
  font-family: Tahoma;
}

select {
  padding: 6px;
  width: 180px;
  color: #2b2b2b !important;
  font-size: 14px;
  text-align: center;
  border: solid 1px #A4A5A6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  outline: 0;
  cursor: pointer;
}

select:hover {
  color: #fff !important;
  background-color: #A4A5A6;
}

option {
  color: #2b2b2b !important;
  text-align: left;
  padding: 0 0 0 10px;
  background-color: #fff;
}

input {
  font-size: 14px;
  border: solid 1px #A4A5A6;
  height: 24px;
  vertical-align: middle; 
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

input[type="checkbox"] {
  height: 18px !important;
  width: 18px !important;
  cursor: pointer;
}

.top-wrap {
  padding: 14px 15px 7px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.inside-layout {
  height: 21px;
  text-align: center;
}

.page-action {
  float: right;
  position: relative;
  top: 3px;
}

.inside-pa-layout:active {
  background-position-y: 137px;
}

.tabber-wrap {
  display: inline-block;
  position: relative;
  top: -9px
}

.tab-delimiter {
  display: inline-block;
  width: 2px;
  height: 19px;
  position: relative;
  top: 6px;
  right: -1px;
}

.settings-tab {
  display: inline-block;
  font-size: 14px;
  padding: 8px 46px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #A4A5A6;
  font-weight: 700;
  text-shadow: 0 1px 0 white;
}

.settings-tab:first-child {
  position: relative;
  right: -1px;
}

.settings-tab[active='true'] {
  color: #2b2b2b;
}

.tab-contents {
  padding: 9px 15px 15px 15px;
}

.settings-block {
  padding: 10px 15px 15px 15px;
  border: 1px solid #D9D9D9;
  border-bottom: none;
  background: #FFF;
}

.settings-block:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.settings-block:last-child {
  border-bottom: 1px solid #D9D9D9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 0 #FFF;
}

.settings-block .headline {
  font-size: 14px;
  font-weight: 700;
  color: #2b2b2b;
  position: relative;
  left: -1px;
}

.settings-block .description {
  font-size: 14px;
  margin-top: 7px;
  color: #797979;
}

.settings-block .adj-layout {
  margin-top: 8px;
}

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.flat-button {
  position: relative;
  vertical-align: top;
  width: 180px;
  height: 30px;
  font-size: 16px;
  color: #2b2b2b;
  text-align: center;
  background: #fff;
  padding: 0;
  margin: 0;
  border: solid 1px #A4A5A6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
  outline: 0;
  cursor: pointer;
}

.flat-button:hover {
  background: #A4A5A6;
  color: #fff;
}

#main-wrap {
  width: 600px;
  margin: 15px auto 0 auto;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(43, 43, 43, 0.125);
}