body {
  margin: 0
}

.highlighting {
  background: rgba(48, 129, 204, 0.125);
  border-bottom: 1px solid rgba(48, 129, 204, 0.05)
}

#main-wrap {
  width: 600px;
  font-family: Tahoma;
  background: url(../../../images/backgrounds/content.png);
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(43, 43, 43, 0.125)
}

.between-top-and-content {
    height: 6px;
    background: url(../../../images/backgrounds/top_content_transition.png)
}

.top-wrap {
  padding: 14px 15px 7px 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.775);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

  .inside-layout {
    height: 21px
  }

    .app-logo {
      float: left;
      position: relative;
      top: 1px;
      box-shadow: 0 1px 0 white;
      width: 19px;
      height: 19px;
      background: url(../../../images/icons/icon19.png)
    }

    .app-name {
      float: left;
      position: relative;
      top: 2px;
      color: #A4A5A6;
      text-shadow: 0 1px 0 white;
      font-size: 13px;
      font-weight: 700;
      margin-left: 10px
    }

    .page-action {
      float: right;
      position: relative;
      top: 3px
    }

      .inside-pa-layout {

      }

        .pa-collapsable {
          display: inline-block
        }

          .collapsable-history {
            display: none
          }

        .pa-delimiter {
          display: inline-block;
          width: 2px;
          height: 19px;
          background: url(../../../images/sprites/sprite.png);
          background-position: 0 19px;
          margin-left: 5px;
          margin-right: 4px;
          position: relative;
          top: -2px;
          -webkit-user-select: none
        }

        .pa-button {
          display: inline-block;
          cursor: pointer;
          width: 18px;
          height: 19px;
          position: relative;
          top: -2px;
          -webkit-user-select: none
        }

        .settings-button {
          background: url(../../../images/sprites/sprite.png);
          background-position: -138px 156px
        }

        .history-button {
          background: url(../../../images/sprites/sprite.png);
          background-position: -120px 156px
        }

          .inside-pa-layout .active, .settings-button:active, .history-button:active {
            background-position-y: 137px
          }

/* Dropdown scrollbars */

#selVisibleScroll-1, #selVisibleScroll-2 {
  overflow: hidden;
  height: 180px;
  width: 100%;
  position: relative
}

#sel-scrollbar-1, #sel-scrollbar-2 {
  position: absolute;
  width: 11px;
  height: 150px;
  background: transparent
}

#sel-track-1, #sel-track-2 { 
  position: absolute;
  left: 165px;
  top: 2px;
  width: 11px;
  height: 176px;
  background: transparent
}

#sel-dragBar-1, #sel-dragBar-2 {
  position: absolute; 
  left: 1px;
  top: 1px;
  width: 5px; 
  height: 10px;
  background: rgba(43, 43, 43, 0.475);
  cursor: pointer;
  border-radius: 3px
}

  #sel-dragBar-1:hover, #sel-dragBar-2:hover, #sel-dragBar-1:active, #sel-dragBar-2:active {
    background: rgba(43, 43, 43, 0.775)
  } 

#sel-scrollbar-1, #sel-track-1, #sel-dragBar-1, #sel-scrollbar-2, #sel-track-2, #sel-dragBar-2 {
  -webkit-user-select: none
}