body {
  background: url(../../../images/backgrounds/body.png)
}

#main-wrap {
  margin: 15px auto 0 auto
}

.top-wrap {
padding: 14px 15px 5px 15px
}

.inside-layout {
    text-align: center
}

.page-action {
    float: none
}

.tabber-wrap {
    display: inline-block;
    position: relative;
    top: -9px
}

.tabber-inside-layout {

}

.tab-delimiter {
    display: inline-block;
    width: 2px;
    height: 19px;
    background: url(../../../images/sprites/sprite.png);
    background-position: 0 19px;
    position: relative;
    top: 6px;
    right: -1px
}

.settings-tab {
    display: inline-block;
    font-size: 13px;
    padding: 8px 15px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    color: #A4A5A6;
    font-weight: 700;
    text-shadow: 0 1px 0 white
}

.settings-tab:first-child {
    position: relative;
    right: -1px
}

.active-tab {
    color: #2b2b2b
}

.floating-arrow-wrap {

}

.floating-arrow {
    width: 12px;
    height: 6px;
    background: url(../../../images/sprites/sprite.png);
    background-position: -107px 160px;
    position: absolute;
    margin-top: 4px;
    margin-left: 18px;
}

.content-wrap {

}

.tab-contents {
    padding: 9px 15px 15px 15px
}

.settings-block {
    padding: 10px 15px 15px 15px;
    border: 1px solid #D9D9D9;
    border-bottom: none;
    background: #FFF
}

.settings-block:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.settings-block:last-child {
    border-bottom: 1px solid #D9D9D9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 0 #FFF
}

.settings-block .headline {
    font-size: 16px;
    font-weight: 700;
    color: #2b2b2b;
    position: relative;
    left: -1px
}

.settings-block .description {
    font-size: 14px;
    margin-top: 7px;
    color: #797979
}

.settings-block .adj-layout {
    margin-top: 8px
}

.label {
    -webkit-user-select: none
}

.col-with-tick {
    width: 19px
}

.combo-select {
    width: 169px;
    margin-left: 91px
}

.collapsable-wrap {
    margin-top: 10px
}

.context-additional-settings {

}

.context-additional-desc {
    font-size: 13px;
    color: #797979
}

.context-additional-switch {
    margin-top: 10px
}

.switch-wrap {

}

.sw-inner-layout {

}

.sw-item {
    display: inline-block;
    width: 146px;
    text-align: center;
    border: 1px solid #C7C6C2;
    font-size: 13px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
    color: #2B2B2B;
    -webkit-user-select: none;
    background: -webkit-linear-gradient(top, #f5f5f5, #efefef);
    box-shadow: inset 0 1px 0 #FFF
}

.sw-item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none
}

.sw-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none
}

.sw-active-item {
    color: white;
    background: #3081CC;
    text-shadow: -1px 0 0 #276AA3;
    border: 1px solid #245D92;
    box-shadow: inset 0 1px 1px rgba(101, 169, 220, 1)
}

.sw-active-item:first-child {
    border-right: 1px solid #245D92
}

.sw-active-item:last-child {
    border-left: 1px solid #245D92
}