body {
  width: 450px;
  margin: 5px;
  padding: 0;
  color: #444;
  background-color: #fff;
  overflow: hidden;
}
body, select, table{
  font-family: arial, verdana, sans-serif;
  font-size: 14px; 
  color: #444;
  -webkit-appearance: none;  
  -moz-appearance: none;
}
select {
  cursor: pointer;
  border-width: 0;
  text-overflow: "";
  text-indent: 0.01px; /* remove Firefox arrow */
  background: url('dropdown.png') no-repeat right 5px center;
}
select:focus,
input:focus {
  outline: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
#language-table tr td,
#question-table tr td {
  height: 26px;
  border-radius: 0px;
}
#language-table td, 
#question-table,
#answer-table {
  border: solid 1px rgba(76, 142, 251, 0.5);
  -webkit-transition: 200ms border-color; 
  -moz-transition: 200ms border-color;
}
#language-table td:hover, 
#question-table:hover,
#answer-table:hover {
  border: solid 1px rgba(76, 142, 251, 1.0);
  -webkit-transition: 0s; 
  -moz-transition: 0s;  
}
#from-select,
#to-select{ 
  width: 100%;
}
.mac #from-select,
.mac #to-select {
  padding-left: 5px;
}
#from-td {
  border-radius: 2px 0 0 0;
}
#to-td {
  border-radius: 0 2px 0 0;
}
#fromto-td {
  width: 40px;
  border-width: 1px 0 !important;
  background: rgba(76, 142, 251, 1.0) url("fromto.png") no-repeat center center;
  cursor: pointer;
}
#question-table {
  margin: 5px 0;
}
#question-td {
  border-radius: 2px 0 0 2px;
  border-right-width: 0 !important;
  padding: 0 0 0 5px;
}
#question-input {
  font-size: 16px;
  border-width: 0;
  width: 100%;
}
#history-td {
  width: 14px !important;
  border-width: 0 !important;
}
#history-select {
  width: 14px !important;
  text-indent: 20px;
  background: url('dropdown.png') no-repeat center center;
}
#search-td {
  width: 50px; 
  background: rgba(76, 142, 251, 1.0) url('search.png') no-repeat center center;
  cursor: pointer;
}
#answer-table {
  width: 100%;
  border-radius: 0 0 2px 2px;
}
#answer-td {
}
#definition-table {
  height: 170px; /* change answer-details max-height too */
  width: 100%;
}
#definition-table td {
  vertical-align: top;
}
#definition-table[state='loading'] {
  background: url('loading.gif') no-repeat center center;
  background-size: auto 16px;
}
#definition-table[state='error'] {
  background: url('error.png') no-repeat center center;
  background-size: auto 32px;
}
#answer-title {
  max-width: 22px;
  height: 22px;
  font-size: 130%;
  padding: 5px 8px;
}
#answer-details {
  display: block;
  max-height: 136px;
  overflow-y: auto;
}
#answer-details td {
  padding: 0 5px !important;
}
#phrasebook-td, #voice-question-td, #voice-answer-td, #home-td, #settings-td {
  height: 40px;
  width: 22px;
  opacity: 0.6;
  cursor: pointer;
}
#phrasebook-td:hover, 
#voice-question-td:hover, 
#voice-answer-td:hover, 
#home-td:hover, 
#settings-td:hover {
  opacity: 1.0;
}
#phrasebook-td {
  background: url(bookmarks.png) no-repeat center center;
}
#phrasebook-td[status="saved"] {
  background: url(bookmarks-saved.png) no-repeat center center;
}
#phrasebook-td[status="loading"] {
  background: url(bookmarks-loading.gif) no-repeat center center;
}
#voice-question-td,
#voice-answer-td {
  background: url(voice.png) no-repeat center center;
}
#voice-question-td[voice="false"],
#voice-answer-td[voice="false"] {
  background: url(novoice.png) no-repeat center center;
}
#home-td {
  background: url(home.png) no-repeat center center;
}
#settings-td {
  background: url(settings.png) no-repeat center center;
}