body {
  font-family: arial, verdana, sans-serif;
  margin: 2px 5px 2px 5px;
  width: 287px;
  background: rgba(209, 72, 54, 0.00);
  overflow: hidden;
}
#popupLogo {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 60px;
}
select {
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgba(209, 72, 54, 0.15);
  -webkit-appearance: none;  
  -moz-appearance: none;
  background: url('dropdown.png') no-repeat right 5px center;
  text-overflow: "";
  width: auto;
  text-indent: 0.01px;
  padding: 6px 15px 4px 1px;
  color: #797979;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
    padding: 6px 15px 4px 1px;
  }
}

#history-select {
  width: 26px !important;
  height: 26px;
  border: 1px solid rgba(209, 72, 54, 0.2);
  text-indent: 20px;
  background-position: center center;
}
input {
  font-family: arial, verdana, sans-serif;
  border: 1px solid #d14836;
  text-align: center; 
  color: black;
  background-color: white;
  font-size: 16px; 
  width: 174px;
  height: 22px;
  line-height: 22px;
}
#question-input {
  font-family: arial, verdana, sans-serif;
}
#question-input[type="corrected"] {
  font-size: 90%;
}
#answer-input {
  font-family: arial, verdana, sans-serif;
  font-size: 20px; 
  width: 100%;
  height: 28px;
  line-height: 28px;
}
#answer-input[type="no-language"] {
  color: rgba(209, 72, 54, 1);
}
#answer-input[type="looking-for-alternates"] {
  font-size: 90%;
}
.label {
  font-family: arial, verdana, sans-serif;
  border-style: none; 
  text-align: left;
  margin-top: 20px;
  background-color: transparent;
  font-size: 14px;
  color: #797979;
}
#inputLanguage,#targetLanguage {
  margin-top: 15px;
}
button {
  font-family: arial, verdana, sans-serif;
  border: 1px solid rgba(209, 72, 54, 0.2);
  font-size: 14px;
  font-weight: normal;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #797979;
}