.igtranslator-activator-icon {
  display: none;
  width: 20px !important;
  height: 20px !important;
  opacity: 0.9 !important;
  z-index: 999999 !important;
  cursor: pointer !important;
  border-radius: 9px !important;
  position: absolute !important;
  background-size: 10px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.igtranslator-activator-icon:hover {
  opacity: 1.0 !important;
}
.igtranslator-main-div {
  width: 0;
  height: 0;
  display: none;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  resize: both !important;
  overflow: auto !important;
  min-width: 300px !important;
  min-height: 80px !important;
  cursor: nw-resize !important;
  position: absolute !important;
  z-index: 2000000000 !important;
  vertical-align: middle !important;
  background: transparent !important;
}
.igtranslator-iframe {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2000000000 !important;
  width: calc(100% - 9px) !important;
  height: calc(100% - 9px) !important;
}
.igtranslator-bubble {
  margin: 0;
  width: auto;
  height: auto;
  color: black;
  display: block;
  font: 13px Arial;
  min-width: 260px;
  border-radius: 2px;
  z-index: 2000000000;
  border-spacing: 2px;
  padding: 2px 2px 0 2px;
  border-collapse: separate;
}
.igtranslator-bubble tr {
  width: 100%;
  height: auto;
}
.igtranslator-bubble:after,.igtranslator-bubble:before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border: solid transparent;
}
.igtranslator-bubble:after {
  top: -4px;
  left: 14px;
  border-width: 7px;
}
.igtranslator-bubble:before {
  top: -7px;
  left: 13px;
  border-width: 8px;
}
.igtranslator-header {
  margin: 0;
  border: 0;
  padding: 0;
  height: 20px;
  width: 100px;
  font-size: 130%;
  min-width: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
}
.igtranslator-header td {
  border: 0;
  padding: 0;
  margin: 0;
}
.igtranslator-header pre {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: arial;
  white-space: pre-line;
}
.igtranslator-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: none;
  border-left: 0;
  border-right: 0;
  font: 13px Arial;
  min-height: 80px;
  overflow-y: auto;
  min-width: 260px;
  border-bottom: 0;
  border-spacing: 2px;
  border-collapse: separate;
  background-repeat: no-repeat;
  background-position: center center;
}
.igtranslator-content td {
  border: 0;
  margin: 0;
  padding: 0 5px;
}
.igtranslator-footer {
  border: 0;
  margin: 0;
  padding: 0;
}
.igtranslator-footer td {
  margin: 0;
  padding: 0;
  height: 20px;
  opacity: 0.5;
  min-width: 32px;
  cursor: pointer;
  border-radius: 1px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
.igtranslator-footer td:hover {
  opacity: 1.0;
}

@-webkit-keyframes bounceIn {
  0% {opacity: 0; -webkit-transform: scale(.3)}
  50% {opacity: 1; -webkit-transform: scale(1.05)}
  70% {-webkit-transform: scale(.9)}
  100% {-webkit-transform: scale(1)}
}
@keyframes bounceIn {
  0% {opacity: 0; transform: scale(.3)}
  50% {opacity: 1; transform: scale(1.05)}
  70% {transform: scale(.9)}
  100% {transform: scale(1)}
}
.bounceIn {
  animation-duration: .5s;
  animation-name: bounceIn;
  -webkit-animation-duration: .5s;
  -webkit-animation-name: bounceIn;
}