.igtranslator-activator-icon {
  display: none;
  width: 20px !important;
  height: 20px !important;
  border-radius: 9px !important;
  position: absolute !important;
  z-index: 999999 !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  opacity: 0.9 !important;
}
.igtranslator-activator-icon:hover {
  opacity: 1.0 !important;
}
.igtranslator-iframe {
  display: none;
  z-index: 999999 !important;
  position: absolute !important;
  width: 0;
  height: 0;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.igtranslator-bubble {
  display: block;
  position: absolute;
  padding: 2px 2px 0 2px;
  margin: 0;
  color: black;
  font: 13px Arial;
  border-radius: 2px;
  z-index: 999999;
  width: auto;
  max-width: 500px;
  border-collapse: separate;
  border-spacing: 2px;
}
.igtranslator-bubble tr {
  width: 100%;
  height: auto;
}
.igtranslator-bubble:after,.igtranslator-bubble:before {
  content: "";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
}
.igtranslator-bubble:after {
  border-width: 7px;
  
  top: -13px;
  left: 4px;
}
.igtranslator-bubble:before {
  border-width: 8px;
  
  top: -16px;
  left: 3px;
}
.igtranslator-header {
  height: 20px;
  width: 100px;
  border: 0;
  padding: 0;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 130%;
  min-width: 100px;
}
.igtranslator-header td {
  border: 0;
  padding: 0;
  margin: 0;
}
.igtranslator-header pre {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: arial;
  white-space: pre-line;
}
.igtranslator-content {
  display: none;
  font: 13px Arial;
  min-height: 80px;
  max-height: 200px;
  overflow-y: auto;
  background-position: center center;
  background-repeat: no-repeat;
  
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-collapse: separate;
  border-spacing: 2px;
  padding: 0;
  margin: 0;
}
.igtranslator-content td {
  border: 0;
  margin: 0;
  padding: 0 5px;
}
.igtranslator-footer {
  border: 0;
  padding: 0;
  margin: 0;
}
.igtranslator-footer td {
  margin: 0;
  padding: 0;
  height: 20px;
  min-width: 32px;
  border-radius: 1px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  opacity: 0.5;
}
.igtranslator-footer td:hover {
  opacity: 1.0;
}