.header_bubble {
  height: 19px;
  overflow: visible !important;
  padding-top: 3px !important;
  margin-top: 7px !important;
  background: rgba(222, 184, 135, 0.3) !important;
  border-radius: 3px;
}
.header_bubble img {
  margin: 0 11px !important;
  display: inline-block !important;
  opacity: 0.6;
  cursor: pointer;
}
.header_bubble img:hover {
  opacity: 1.0;
}
.selection_bubble {
  display: none;
  position: absolute;
  padding: 5px !important;
  color: black !important;
  font: 13px Arial !important;
  background: #FAEBD7 !important;
  border: 1px solid #DEB887 !important;
  border-radius: 3px;
  white-space: pre-wrap;       /* CSS3     */
  white-space: -moz-pre-wrap;  /* Firefox  */
  white-space: -pre-wrap;      /* Opera <7 */
  white-space: -o-pre-wrap;    /* Opera 7  */
  word-wrap: break-word;       /* IE       */
  z-index: 1000;
  min-width: 150px;
  max-width: 350px;
}
.selection_bubble div {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.selection_bubble:after, .selection_bubble:before {
  content: "";
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
}

.selection_bubble:after {
  border-width: 7px;
  border-bottom-color: #FAEBD7;
  top: -13px;
  left: 4px;
}

.selection_bubble:before {
  border-width: 8px;
  border-bottom-color: #DEB887;
  top: -16px;
  left: 3px;
}

.selection_bubble_line {
  background-color: #DEB887;
  height: 1px;
  margin: 4px 0;
  padding: 0;
  border: 0;
}
