<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.add0n.dictionary</string>
       <key>Developer Identifier</key>
       <string>2C3W8RZ8ND</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>0.3.0</string>
       <key>URL</key>
       <string>https://github.com/andy-portmen/Simple-Translate/blob/master/src/dictionary.safariextz?raw=true</string>
     </dict>
   </array>
</dict>
</plist>
